section#content.container
  div.table-responsive
    if list.data[0]
      - var aux = list.data
      table.table.table-hover.table-sm(id=list.tipo)
        thead
          tr
            th.border-0.bg-white.fit(scope='col')
            th.border-0.align-middle(scope='col') Picture
            th.border-0.align-middle(scope='col') Name
            if aux[0].artist
              th.border-0.align-middle(scope='col') Artist
            if aux[0].album
              th.border-0.align-middle(scope='col') Album
            if aux[0].album_type
              th.border-0.align-middle(scope='col') Type
            if aux[0].release
              th.border-0.align-middle(scope='col') Release
        tbody
          each item in aux
            tr(id=item.id)

              td.align-middle.border-0
                button.btn.favoritar
                  - if (listFavorites.includes(item.id))
                    i.fas.fa-heart
                  - else
                    i.far.fa-heart
              td.fit.align-middle
                div.img-container
                  if item.images
                    img.rounded.mh-100.mw-100(src=item.images.url)
                  else
                    svg.rounded(width='100%' height='50px')
                      rect(fill='#e9ecef' width='100%' height='100%')
                      text(fill='495057' dy='.3em' x='45%' y='50%') ?
                  div.overlay
                    button.btn.icon(data-toggle='dropdown')
                      i.fa.fa-ellipsis-v
                    div.dropdown-menu(aria-labelledby='dropdownMenuButton')
                      a.dropdown-item(href='#') Details

              td.align-middle= item.name
              if item.artist
                td.align-middle= item.artist
              if item.album
                td.align-middle= item.album
              if item.album_type
                td.align-middle= item.album_type
              if item.release
                td.align-middle= item.release

    else
      p Nenhum resultado foi encontrado.
    
  if list.data[0]
    nav#navFav(aria-label='Pagination')
      ul.pagination.justify-content-center
        - if (numPage == 1)
          li.page-item.disabled
            a.page-link Previous
        - else
          li.page-item
            a.page-link Previous
        - for (let x = 1; x <= totalPages; x++)
          - if (numPage == x)
            li.page-item.active
              a.page-link= x
          - else
            li.page-item
              a.page-link= x
        - if (numPage == totalPages)
          li.page-item.disabled
            a.page-link Next
        - else
          li.page-item
            a.page-link Next
